@use '../../styles/variables.scss' as *;

.media-card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    width: 150px;

    &--videogame {
        background-color: $color-red;
    }

    &--boardgame {
        background-color: $color-blue;
    }

    &--book {
        background-color: $color-green;
    }

    &--lend {
        opacity: 0.5;

        &::after {
            color: $color-white;
            content: 'Lend';
            font-size: 50px;
            left: 10%;
            position: absolute;
            text-shadow: 2px 2px 2px $dark-color-bg;
            top: 35%;
            transform: rotate(-45deg);
        }
    }

    &_image {
        height: 100%;
        max-height: 85%;
        object-fit: cover;
        width: auto;
    }

    &_title {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 15%;
    }
}
