.box-preview {
    background-color: var(--color-box-bg);
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    width: 200px;

    &_image {
        height: 100%;
        max-height: 85%;
        object-fit: cover;
        width: auto;
    }

    &_title {
        align-items: center;
        color: black;
        display: flex;
        justify-content: center;
        min-height: 15%;
    }
}
