.button {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-text-button);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin: 5px;
    min-height: 30px;
    min-width: 150px;
    padding: 5px;

    &--primary {
        background-color: var(--color-primary);
    }

    &--secondary {
        background-color: var(--color-secondary);
    }

    &--tertiary {
        background-color: var(--color-tertiary);
    }
}
