@use '../../styles/variables.scss' as *;

.media-edit {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 380px;
    padding: 10px;

    &_title {
        text-align: center;
    }
}
