@use '../../styles/variables' as *;
    
.media-edit {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 380px;
    padding: 10px;

    @include medium {
        max-width: 525px;
    }

    &_title {
        text-align: center;
    }
}
