@use '../../styles/variables.scss' as *;

.add-media {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 380px;
    padding: 10px;

    &_form {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &_title {
        text-align: center;
    }

    &_label {
        margin: 15px 0 5px;
    }

    &_submit {
        background-color: $color-white;
        border-radius: 5px;
        color: $color-black;
        margin-top: 50px;
        min-height: 30px;
        padding: 0 10px;
    }

    &_input {
        background-color: $color-white;
        border-radius: 5px;
        color: $color-black;
        min-height: 30px;
        padding: 0 10px;

        &--error {
            color: lighten($color-red, 5);
        }
    }

    textarea {
        min-height: 100px;
        padding: 10px;
        resize: none;
    }

}
