.library {
    background-color: var(--color-library-bg);
    background-image: var(--texture-library);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
