.library {
    background-color: var(--color-library-bg);
    background-image: var(--texture-library);
    max-width: 800px;

    &_searchbar {
        margin: 10px 0 0 20px;
        width: 300px;
    }

    &_content {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 20px;
        padding: 20px;
    }
}
