@use './variables' as *;

:root {
    --color-default: #{$dark-color-text};
    --color-reverse: #{$dark-color-text-reverse};
    --color-text-button: #{$dark-color-text-button};
    --color-primary: #{$dark-color-primary};
    --color-tertiary: #{$dark-color-tertiary};
    --color-secondary: #{$dark-color-secondary};
    --color-bg: #{$dark-color-bg};
    --color-bg-section: #{$dark-color-bg-section};
    --color-bg-fields: #{$dark-color-bg-fields};
    --color-bg-fields--active: #{$dark-color-bg-fields-active};
    --color-transparent: #{$dark-color-transparent};
    --color-logo: #{$dark-color-text};
    --color-grey-text: #{$grey-color-text};
    --color-error: #{$dark-color-error};
    --font-light: #{$font-light};
    --font-regular: #{$font-regular};
    --font-bold: #{$font-bold};
    --font-size-base: #{$font-size-base};
}

[data-theme='light'] {
    --color-default: #{$light-color-text};
    --color-reverse: #{$light-color-text-reverse};
    --color-text-button: #{$light-color-text-button};
    --color-primary: #{$light-color-primary};
    --color-tertiary: #{$light-color-tertiary};
    --color-secondary: #{$light-color-secondary};
    --color-bg: #{$light-color-bg};
    --color-bg-section: #{$light-color-bg-section};
    --color-bg-fields: #{$light-color-bg-fields};
    --color-bg-fields--active: #{$light-color-bg-fields-active};
    --color-transparent: #{$light-color-transparent};
    --color-logo: rgb(0 0 0 / 10%);
    --color-grey-text: #{$grey-color-text};
}

body {
    background: var(--color-bg);
    color: var(--color-default);
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: 1.2;
    min-height: 100vh;
}

button,
input,
select {
    background-color: var(--color-bg-fields);
}

.title-1 {
    color: var(--color-default);
    font-size: 20px;
    font-weight: $font-bold;
    text-transform: uppercase;
}

.title-2 {
    color: var(--color-default);
    font-size: 16px;
    font-weight: $font-bold;
    text-transform: uppercase;
}

.tc {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &_label {
        margin: 15px 0 5px;
    }

    &_submit {
        background-color: var(--color-primary);
        border-radius: 5px;
        color: var(--color-text-button);
        cursor: pointer;
        margin-top: 50px;
        min-height: 30px;
        padding: 0 10px;
    }

    &_input,
    &_textarea {
        background-color: var(--color-bg-fields);
        border-radius: 5px;
        color: var(--color-default);
        cursor: pointer;
        min-height: 30px;
        padding: 0 10px;

        &--error {
            color: var(--color-error);
        }
    }

    &_textarea {
        min-height: 100px;
        padding: 10px;
        resize: none;
    }

    &_inline {
        margin: 15px 0 5px;
    }

    &_checkbox {
        appearance: auto;
        margin-left: 15px;
    }
}
