
$dark-color-text: #fff;
$dark-color-text-reverse: #000;
$dark-color-text-button: #fff;
$dark-color-primary: #fd5351;
$dark-color-secondary: #aeaeae;
$dark-color-tertiary: #38373c;
$dark-color-bg: #0f0e15;
$dark-color-bg-section: #15141a;
$dark-color-transparent: rgb(0 0 0 / 0%);
$dark-color-bg-fields: #201f25;
$dark-color-bg-fields-active: lighten(#201f25, 5);
$dark-color-error: #fd5351;
$grey-color-text: #e6e6e6;

$light-color-text: #15141a;
$light-color-text-reverse: #fff;
$light-color-text-button: #fff;
$light-color-primary: #fd5351;
$light-color-secondary: #5c5c5c;
$light-color-tertiary: #38373c;
$light-color-bg: #f3f5f4;
$light-color-bg-section: #fff;
$light-color-transparent: rgb(255 255 255 / 0%);
$light-color-bg-fields: #f3f5f4;
$light-color-bg-fields-active: darken(#f3f5f4, 5);


$color-red: #d22b2b;
$color-green: #355e3b;
$color-blue: #0047ab;
$color-white: #fff;
$color-black: #000;

// Fonts

$font-family: 'SF Pro Text', sans-serif;
$font-size-base: 14px;

$font-light: 100;
$font-regular: normal;
$font-bold: bold;

// Styles

$border-radius: 5px;
$border-radius--big: 10px;
$border-radius--bigger: 15px;

$box-shadow: 0 3px 3px rgb(0 0 0 / 10%),        0 3px 20px rgb(0 0 0 / 20%);  /** Simulate Ambient Light - Color is a darkened shade of blue **/;

// Responsive Breakpoints

$breakpoints: (xs 500),
    (s 768),
    (m 960),
    (l 1240),
    (xl 1400);

$gutter-padding--mobile: 20px;
$gutter-padding--desktop: 25px;
