// Colors
$color-black: #0f0e17;
$color-charcoal: #2e2f3e;
$color-white: #fffffe;
$color-grey-light: #a7a9be;
$color-grey: #a0a0a0;
$color-grey-dark: #727272;
$color-orange: #ff8906;
$color-carnation: #f25f4c;
$color-pink: #e53170;
$color-black-transparent: rgb(0 0 0 / 0%);
$color-black-semi-transparent: rgb(0 0 0 / 50%);
$color-white-transparent: rgb(255 255 255 / 0%);
$color-white-semi-transparent: rgb(255 255 255 / 50%);
$color-red: #d22b2b;
$color-green: #355e3b;
$color-blue: #0047ab;
$color-brown-dark: #61362c;
$color-peach-yellow: #fae1a3;

// Fonts
$font-family: 'SF Pro Text', sans-serif;
$font-size-base: 14px;

$font-light: 100;
$font-regular: normal;
$font-bold: bold;

// Styles
$border-radius: 5px;
$border-radius--big: 10px;
$border-radius--bigger: 15px;

$box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 20%);  /** Simulate Ambient Light - Color is a darkened shade of blue **/;

// Responsive Breakpoints
$breakpoints: (xs 500),
    (s 768),
    (m 960),
    (l 1240),
    (xl 1400);

$gutter-padding--mobile: 20px;
$gutter-padding--desktop: 25px;

@mixin random-background() {
    background: rgb(random(255) random(255) random(255));
}

@mixin title-with-shadow() {
    color: var(--color-title);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

@mixin medium {
    @media(min-width: 768px) {
        @content;
    }
}
