.search-bar {
    background-color: var(--color-bg-input);
    border-radius: 5px;
    color: var(--color-text-input);
    margin: 0 10px;
    padding: 10px;

    &_input {
        width: 100%;
    }
}
