.header {
    align-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-stroke);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;

    &_high-bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &_actions {
        font-size: 1rem;
        color: var(--color-title);
        gap: 10px;
        display: flex;
    }

    &_navbar {
        display: flex;
        gap: 50px;
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start;

        &_item {    
            color: var(--color-title);
            font-size: 1rem;
        }

        &_item:hover,
        &_item.active {
            border-bottom: 3px solid var(--color-active);
            color: var(--color-active);
        }
            
    }
}
