@use '../../styles/variables.scss' as *;

.header {
    align-content: center;
    align-items: center;
    border-bottom: 1px solid $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;

    &_navbar {
        display: flex;
        gap: 50px;
        margin-top: 10px;

        &_item {
            font-size: 1.5rem;    
        }

        &_item:hover,
        &_item.active {
            border-bottom: 3px solid $color-red;
            color: $color-red;
        }
            
    }
}
