@use '../../styles/variables' as *;

.box {
    align-items: flex-end;
    background: none;
    display: flex;

    &--boardgame {
        align-items: flex-start;
        flex-direction: column-reverse;

        .item-filler {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}
