.box {
    background-color: var(--color-box-bg);
    height: var(--box-square-size);
    perspective: 1000px;
    width: var(--box-square-size);

    &_cube {
        height: var(--box-square-size);
        position: relative;
        transform: translateZ(-100px);
        transform-style: preserve-3d;
        width: var(--box-square-size);

        &_face {
            align-items: flex-end;
            background: #a0a0a0;
            background-image: var(--texture-library);
            display: flex;
            height: var(--box-square-size);
            position: absolute;
            width: var(--box-square-size);

            &--front { 
                background: none;
                transform: rotateY(0deg) translateZ(100px); 
            }

            &--right { 
                transform: rotateY(90deg) translateZ(100px);
            }

            &--back { 
                background: #727272;
                background-image: var(--texture-library);
                transform: rotateY(180deg) translateZ(100px);
            }

            &--left { 
                transform: rotateY(-90deg) translateZ(100px); 
            }

            &--top { 
                transform: rotateX(90deg) translateZ(100px);
            }

            &--bottom { 
                transform: rotateX(-90deg) translateZ(100px);
            }
        }
    }

    &--boardgame {
        display: flex;

        .item-filler {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }

    &--boardgame &_cube {
        &_face {
            align-items: flex-start;
            flex-direction: column-reverse;
        }
    }
}

.image {
    &--filler {
        height: 100px;
    }
}
