
@use '../../styles/variables.scss' as *;

.media-form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &_label {
        margin: 15px 0 5px;
    }

    &_submit {
        background-color: $color-white;
        border-radius: 5px;
        color: $color-black;
        cursor: pointer;
        margin-top: 50px;
        min-height: 30px;
        padding: 0 10px;
    }

    &_input,
    &_textarea {
        background-color: $color-white;
        border-radius: 5px;
        color: $color-black;
        cursor: pointer;
        min-height: 30px;
        padding: 0 10px;

        &--error {
            color: lighten($color-red, 5);
        }
    }

    &_textarea {
        min-height: 100px;
        padding: 10px;
        resize: none;
    }

    &_inline {
        margin: 15px 0 5px;
    }

    &_checkbox {
        appearance: auto;
        margin-left: 15px;
    }
}


